frontend k3s-hello
    bind *:8080
    mode http
    default_backend k3s-hello-backend

backend k3s-hello-backend
    mode http
    option tcp-check
    balance roundrobin
    default-server inter 5s
    server server-1 10.90.0.1:8080 check
    server server-2 10.90.0.2:8080 check
    server server-3 10.90.0.3:8080 check
